<html>

<head>
    <title>Transport</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <form method="POST" action="/register">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="password">
  </div>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name">
    </div>
      <div class="form-group">
          <label for="admin">Admin?</label>
          <input type="text" class="form-control" id="admin" name="admin">
      </div>
        <div class="form-group">
            <label for="contact">Contact</label>
            <input type="number" class="form-control" id="number" name="contact">
        </div>
        <div class="form-group">
            <label for="cid">College Id</label>
            <input type="text" class="form-control" id="cid" name="cid">
        </div>
   <h2>Gender</h2>     
  <div class="form-check">
      <input class="form-check-input" type="radio" name="gender" id="exampleRadios1" value="Male" checked>
      <label class="form-check-label" for="exampleRadios1">
          Male
      </label>
  </div>
  <div class="form-check">
      <input class="form-check-input" type="radio" name="gender" id="exampleRadios2" value="Female">
      <label class="form-check-label" for="exampleRadios2">
          Female
      </label>
  </div>
<h2>Who?
</h2>
<div class="form-check">
    <input class="form-check-input" type="radio" name="type" id="exampleRadios1" value="student" checked>
    <label class="form-check-label" for="exampleRadios1">
            Student
    </label>
</div>
<div class="form-check">
    <input class="form-check-input" type="radio" name="type" id="exampleRadios2" value="Faculty">
    <label class="form-check-label" for="exampleRadios2">
        Faculty
    </label>
</div>
<div class="form-check">
    <input class="form-check-input" type="radio" name="type" id="exampleRadios2" value="Admin">
    <label class="form-check-label" for="exampleRadios2">
        Admin
    </label>
</div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
    </div>
</body>